<div class="container" style="height: 100%;">
  <li>
    {{#link-to 'client' client.id}} {{client.firstName}} {{client.lastName}} - {{client.service}} attended by: {{client.attendant}}{{/link-to}}
</li>
<hr>
</div>
