footer,
h3 {
  text-align: center;
}
 p{
   text-align: center;
   color: green;
   font-size: 14pt;
 }
 #main {
   text-align: center;;
 }
li {
  list-style: none;
}
.formgroup {
  width: 300px;
  border-radius: 5px;
}
