<h3 style="text-align:center;">Services Pending Approval</h3>
{{#each model as |client|}}
{{#unless client.approved}}

{{client-tile client=client approveService="approveService" destroyService="destroyService"}}
{{/unless}}
{{/each}}
